html,
body {
    margin: 0;
    font-family: sans-serif;
}

h4 {
    color: #fff;
}

/* 웹페이지 중앙 부분 전체 스타일 설정*/
.content {
    width: 1920px;
    height: 1080px;
    background: url('../../IMG/GeneralBackground.jpg') no-repeat;
    overflow: hidden;
}

/* content 상단 모든 폰트 스타일*/
.content_inner {
    height: 40px;
    line-height: 20px;
    font-size: 13px;
    color: #fff;
    padding: 20px 200px;
    /*상하 0, 좌우 220*/
    padding-top: 10px;
    margin-left: 10%;
    /* 가장 가까운 마진의 너비에 10%*/
}

/* content 상단 모든 폰트 간격*/
.content_inner_c {
    float: left;
    padding: 10px 100px;
    /*상하 0, 좌우 100*/
}

/* content 상단 이미지(led) 스타일 설정*/
.content_inner_c img {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 20px;
}

/* Railway road 표시선*/
.content_inner_1 {
    width: 120px;
    height: 8px;
    float: left;
    margin-right: 20px;
    background: rgb(72, 146, 157);
    margin-top: 8px;
}

/* Sensor (Noise,Vibration) 이미지 크기 설정*/
#SensorP {
    height: 10px;
    width: 20px;
    padding: 5px 0;
    /*상하 5px, 좌우 0*/
}

/* content part의 전체 margin값 조정*/
.content_part {
    width: 1560px;
    height: 60px;
    margin: 0;
    padding: 0px 100px 40px 282px;
    /*top, right, bottom, left*/
    float: left;
}

/* content part의 이미지값만 조정*/
.content_part img {
    height: 60px;
    margin: 0px 100px 0 100px;
    padding: 20px 100px 10px 60px;
}

.content_part #GeneralPart1 {
    width: 35px;
    height: 35px;
    padding: 20px 13px 10px 52px;
    /*top, right, bottom, left*/
}

.content_part #GeneralPart2 {
    width: 35px;
    height: 35px;
    padding: 20px 20px 10px 6px;
    /*top, right, bottom, left*/
}

.content_part #GeneralPart3 {
    width: 35px;
    height: 35px;
    padding: 20px 10px 10px 283px;
    /*top, right, bottom, left*/
}

.content_part #GeneralPart4 {
    width: 35px;
    height: 35px;
    padding: 20px 30px 10px 17px;
    /*top, right, bottom, left*/
}

/* ******************************************************************************************************************************* */
/* content 아래 레이아웃 설정 */
.train_model {
    width: 100%;
    height: 340px;
    overflow: hidden;
}

/* Start - left */
.train_left {
    width: 140px;
    float: left;
    height: 500px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 140px 0px 200px 35px;
    overflow: hidden;
}

/* Return - right */
.train_right {
    width: 140px;
    float: right;
    height: 500px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    margin: 140px 50px 200px 0px;
    text-align: center;
    overflow: hidden;
}

/* ******************************************************************************************************************************* */
/* train_model 중앙부 설정 */
.train_center {
    width: 1510px;
    float: left;
    height: 340px;
    margin: 0px 10px;
    overflow: hidden;
}

/* A1 ~ B4 위치를 지정 */
.sensorname {
    width: 1500px;
    height: 20px;
    margin: 0;
    padding: 0px 0px 0px 50px;
    /*top, right, bottom, left*/
    float: left;
}

.sensorname1 {
    font-size: 18px;
    position: relative;
    /* relative는 absolute의 부모 요소로 지정*/
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 204px;
    color: #A0A0C8;
    font-weight: bold;
}

.sensorname2 {
    font-size: 18px;
    position: relative;
    /* relative는 absolute의 부모 요소로 지정*/
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 230px;
    color: #A0A0C8;
    font-weight: bold;
}

.sensorname3 {
    font-size: 18px;
    position: relative;
    /* relative는 absolute의 부모 요소로 지정*/
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 517px;
    color: #A0A0C8;
    font-weight: bold;
    z-index: 1;
    /* z-index는 텍스트나 이미지 위에 이미지를 올릴때 보여지는 순서를 말한다. */
}

.sensorname4 {
    font-size: 18px;
    position: relative;
    /* relative는 absolute의 부모 요소로 지정*/
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 237px;
    color: #A0A0C8;
    font-weight: bold;
    z-index: 3;
    /* z-index는 텍스트나 이미지 위에 이미지를 올릴때 보여지는 순서를 말한다. */
}

/* A1 ~ B4에 대한 센서 포인터 */
.sensorPointer {
    width: 1500px;
    height: 20px;
    margin: 0;
    padding: 10px 0px 10px 50px;
    /*top, right, bottom, left*/
    float: left;
}

#SensorP1 {
    height: 10px;
    width: 20px;
    padding: 5px 0;
    position: relative;
    display: inline;
    padding-left: 204px;
}

#SensorP2 {
    height: 10px;
    width: 20px;
    padding: 5px 0;
    position: relative;
    display: inline;
    padding-left: 233px;
}

#SensorP3 {
    height: 10px;
    width: 20px;
    padding: 5px 0;
    position: relative;
    display: inline;
    z-index: 2;
    /* z-index는 텍스트나 이미지 위에 이미지를 올릴때 보여지는 순서를 말한다. */
    padding-left: 519px;
}

#SensorP4 {
    height: 10px;
    width: 20px;
    padding: 5px 0;
    position: relative;
    display: inline;
    padding-left: 238px;
    z-index: 4;
    /* z-index는 텍스트나 이미지 위에 이미지를 올릴때 보여지는 순서를 말한다. */
}

/* 사슴 이미지 위치 조정 */
.train_center #deer1 {
    position: absolute;
    /* absolute는 원하는 곳에 이미지를 지정할 때 사용된다. */
    width: 63px;
    height: 63px;
    top: 230px;
    left: 506px;
}

/* 사슴 이미지 위치 조정 */
.train_center #deer2 {
    position: absolute;
    /* absolute는 원하는 곳에 이미지를 지정할 때 사용된다. */
    width: 95px;
    height: 95px;
    top: 220px;
    left: 774px;
}

/* 도시 이미지 위치 조정 */
.train_center #city1 {
    position: absolute;
    /* absolute는 원하는 곳에 이미지를 지정할 때 사용된다. */
    height: 120px;
    top: 198px;
    right: 353px;
}

.train_center #bridge {
    position: absolute;
    /* absolute는 원하는 곳에 이미지를 지정할 때 사용된다. */
    width: 405px;
    height: 98px;
    top: 375px;
    left: 380px;
    z-index: 5;
}

.train_center #tunnel {
    position: absolute;
    /* absolute는 원하는 곳에 이미지를 지정할 때 사용된다. */
    width: 372px;
    height: 42px;
    top: 447px;
    right: 358px;
    z-index: 6;
}

/* ******************************************************************************************************************************* */
/* 철도 레일 및 이미지 배치*/
.cross_railroad {
    width: 1500px;
    height: 200px;
    display: inline-block;
    position: relative;
    /* cross_rail 이미지에 대한 relative */
}

/* 철도 레일 상단 라인  */
.railroad_left {
    width: 720px;
    height: 140px;
    border-top: 8px solid rgb(72, 146, 157);
    border-bottom: 8px solid rgb(72, 146, 157);
    margin-left: 50px;
    float: left;
    margin-top: 15px;
}

/* 철도 레일 하단 라인  */
.railroad_right {
    width: 730px;
    height: 140px;
    border-top: 8px solid rgb(72, 146, 157);
    border-bottom: 8px solid rgb(72, 146, 157);
    float: right;
    margin-top: 15px;
}


.rail_position-text {
    font-size: 16px;
    text-align: center;
    color: #fff;
    flex: 1;
}

.rail_top_left {
    margin-left: 17px;
    margin-top: 10px;
}

.rail_position_left {
    display: flex;
    width: 656px;
}

.rail_bottom_left {
    margin-left: 17px;
    margin-top: 130px;
}

.rail_top_right {
    margin-left: 100px;
    margin-top: 10px;
}

.rail_position_right {
    display: flex;
    width: 656px;
}

.rail_bottom_right {
    margin-left: 100px;
    margin-top: 130px;
}

/* 교차로 이미지 위치 조정 */
.rail_center #top_cross {
    position: absolute;
    /* cross_railroad에 대한 relative */
    width: 130px;
    height: 95px;
    top: -20px;
    left: 725px;
}

/* 교차로 하단 이미지 위치 조정 */
.rail_center #down_cross {
    position: absolute;
    /* cross_railroad에 대한 relative */
    width: 130px;
    height: 95px;
    top: 120px;
    left: 725px;
}

/* ******************************************************************************************************************************* */
/* 열차 모형 */
#myContainer {
    width: 1465px;
    height: 50px;
    position: relative;
    margin-left: 160px;
    margin-top: -930px;
}

#myAnimation {
    margin-top: -10px;
    width: 200px;
    height: 200px;
    position: absolute;
}

#myContainer2 {
    width: 1465px;
    height: 50px;
    position: relative;
    margin-left: 190px;
    margin-top: 40px;
    z-index: 7;
}

#myAnimation2 {
    margin-top: -0px;
    margin-left: 1390px;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 8;
}

#secondtrain {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: relative;
    z-index: auto;
}

/* ******************************************************************************************************************************* */
/* 데이터테이블 */
.dataTable {
    width: 76%;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    align-items: center;
    background-color: white;
    display: block;
    justify-content: center; 
    overflow-y: hidden;

}

.table {
    width: 1415px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #6c85bd;

}

.table-color {
    background-color: #4472C4;
    color: white;
}

.table,
tr,
td {
    text-align: center;
}

/* ******************************************************************************************************************************* */
/* 위험상황 기준치 */
.Danger_standard {
    width: 88%;
    height: 20px;
    display: inline-block;
    position: relative;
    margin-top: 5px;
}

.Danger_standard p {
    width: 1434px;
    color: #868E96;
    margin-bottom:10px;
    margin-right: 0px;
    font-size: 16px;
    text-align: right;

}