html,
body {
    margin: 0;
    font-family: sans-serif;
}

h4 {
    color: #fff;
}

/* 웹페이지 중앙 부분 전체 스타일 설정*/
.content {
    width: 1920px;
    height: 1080px;
    background: url('../../IMG/GeneralBackground.jpg') no-repeat;
    overflow: hidden;
}

/* content 상단 모든 폰트 스타일*/
.content_inner {
    height: 40px;
    line-height: 20px;
    font-size: 13px;
    color: #fff;
    padding: 20px 200px;
    /*상하 0, 좌우 220*/
    padding-top: 10px;
    margin-left: 10%;
    /* 가장 가까운 마진의 너비에 10%*/
}

/* content 상단 모든 폰트 간격*/
.content_inner_c {
    float: left;
    padding: 10px 100px;
    /*상하 0, 좌우 100*/
}

/* content 상단 이미지(led) 스타일 설정*/
.content_inner_c img {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 20px;
}

/* Railway road 표시선*/
.content_inner_1 {
    width: 120px;
    height: 8px;
    float: left;
    margin-right: 20px;
    background: rgb(72, 146, 157);
    margin-top: 8px;
}

/* Sensor (Noise,Vibration) 이미지 크기 설정*/
#SensorP {
    height: 10px;
    width: 20px;
    padding: 5px 0;
    /*상하 5px, 좌우 0*/
}


/* content part의 전체 margin값 조정*/
.content_part {
    width: 1560px;
    height: 60px;
    margin: 0;
    padding: 0px 100px 0 260px;
    float: left;
}

/* content part의 이미지값만 조정*/
.content_part img {
    height: 60px;
    margin: 0px 100px 0 100px;
    padding: 20px 100px 10px 60px;
}

.content_part #GeneralPart1 {
    width: 35px;
    height: 35px;
    padding: 20px 50px 10px 60px;

}

.content_part #GeneralPart2 {
    width: 35px;
    height: 35px;
    padding: 20px 20px 10px 20px;

}

.content_part #GeneralPart3 {
    width: 35px;
    height: 35px;
    padding: 20px 30px 10px 330px;

}

.content_part #GeneralPart4 {
    width: 35px;
    height: 35px;
    padding: 20px 30px 10px 10px;

}

.train_model {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.train_left {
    width: 150px;
    float: left;
    height: 500px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 200px 20px;
    overflow: hidden;
}

.train_right {
    width: 150px;
    float: right;
    height: 500px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    margin: 200px 20px;
    text-align: center;
    overflow: hidden;
}

.train_center {
    width: 1510px;
    float: left;
    height: 500px;
    margin: 0px 10px;
    overflow: hidden;
}

.train_center img {
    height: 500px;
    margin: 0;
}

.train_center #deer1 {
    width: 60px;
    height: 60px;
    vertical-align: center;
    padding: 0px 60px 35px 300px;
    /*top, right, bottom, left*/
}

.train_center #deer2 {
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0px 120px 10px 10px;
    /*top, right, bottom, left*/
}

.train_center #city1 {
    width: 360px;
    height: 100px;
    margin: 0;
    padding: 0px 20px 10px 430px;
    /*top, right, bottom, left*/
}

.sensorname {
    width: 1560px;
    height: 60px;
    margin: 0;
    padding-top: 30px;
    float: left;
}

.sensorname1 {
    font-size: 18px;
    position: relative;
    display: inline;   
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    margin-top: 30px;
    padding-left: 167px;
    color: #95992f;
    font-weight: bold;
}

.sensorname2 {
    font-size: 18px;
    position: relative;
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 281px;
    color: #95992f;
    font-weight: bold;
}

.sensorname3 {
    font-size: 18px;
    position: relative;
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 565px;
    color: #95992f;
    font-weight: bold;
}

.sensorname4 {
    font-size: 18px;
    position: relative;
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 250px;
    color: #95992f;
    font-weight: bold;
}

.sensorname_2 {
    width: 1560px;
    height: 60px;
    margin: 0;
    padding-top: 30px;
    float: left;
}

.sensorname5 {
    font-size: 18px;
    position: relative;
    display: inline;   
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 167px;
    color: #95992f;
    font-weight: bold;
}

.sensorname6 {
    font-size: 18px;
    position: relative;
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 282px;
    color: #95992f;
    font-weight: bold;
}

.sensorname7 {
    font-size: 18px;
    position: relative;
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 568px;
    color: #95992f;
    font-weight: bold;
}

.sensorname8 {
    font-size: 18px;
    position: relative;
    display: inline;
    /* display inline을 안 할 경우, 기본 display block이 적용되어 글자가 가로 전체를 먹게 되므로, display inline 적용 필수*/
    padding-left: 252px;
    color: #95992f;
    font-weight: bold;
}








.dt-con {
    margin-top: -300px;
    width: 1590px;
    height: 640px;
    float: left;
    position: relative;
}

/* .dt-gui-tcon{
      overflow: hidden;
    } */
.dt-center {
    position: absolute;
    left: 50%;
    top: 366px;
    width: 254px;
    height: 254px;
    line-height: 254px;
    text-align: center;
    /* background: url('imgs/round.png') center no-repeat; */
    margin-left: -127px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.dt-con-x {
    margin-top: 415px;
    width: 1590px;
    height: 15px;
}

.dt-con-x-b {
    margin-top: 0px;
    width: 1590px;
    height: 15px;
}

.dt-con-x-b .dt-gui-x-left .dt-gui-x-1 {
    position: absolute;
    width: 23px;
    height: 12px;
    left: -23px;
    top: 7px;
    background: url('imgs/111-b.png') top left no-repeat;
}

.dt-con-x-b .dt-gui-x-left .dt-gui-x-2 {
    position: absolute;
    width: 35px;
    height: 12px;
    left: -35px;
    top: 7px;
    /* background: url('imgs/icon555-b.png') top left no-repeat; */
}

.dt-con-x-b .dt-gui-x-right .dt-gui-x-1 {
    position: absolute;
    width: 23px;
    height: 12px;
    right: -1px;
    top: 7px;
    background: url('imgs/111-b.png') top left no-repeat;
}

.dt-con-x-b .dt-gui-x-right .dt-gui-x-2 {
    position: absolute;
    width: 35px;
    height: 12px;
    right: -1px;
    top: 7px;
    /* background: url('imgs/icon555-b.png') top left no-repeat; */
}


.dt-gui-x-left {
    width: 656px;
    height: 15px;
    float: left;
    display: flex;
    margin-left: 30px;
}

.dt-gui-x {
    position: relative;
}

.dt-con-x .dt-gui-x-b {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 8px;
    background: rgb(72, 146, 157);
}

.dt-gui-x-b1 {
    background: none !important;
}

.dt-con-x-b .dt-gui-x-b {
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 8px;
    background: rgb(72, 146, 157);
}

.dt-gui-x-b img {
    position: absolute;
    width: 27px;
    height: 24px;
    top: -8px;
    left: 50%;
    margin-left: -13px;
}

.dt-gui-x-right {
    width: 656px;
    height: 15px;
    float: right;
    display: flex;
    margin-right: 30px;
}

/* .dt-con-x-b .dt-gui-cha{
      position: absolute;
      width: 370px;
      height: 290px;
      background: url('imgs/line3333.png') center no-repeat;
      left: -1px;
      bottom: 10px;
    }
    .dt-con-x .dt-gui-cha{
      position: absolute;
      width: 225px;
      height: 164px;
      background: url('imgs/line4444.png') center no-repeat;
      left: -1px;
      bottom: -8px;
      z-index: 10;
    } */

/* .dt-con-x .dt-gui-cha1{
      position: absolute;
      width: 370px;
      height: 290px;
      background: url('imgs/line111.png') center no-repeat;
      right: -1px;
      top: 10px;
    }
    .dt-con-x-b .dt-gui-cha1{
      position: absolute;
      width: 225px;
      height: 164px;
      background: url('imgs/line2222.png') center no-repeat;
      right: -1px;
      top: -8px;
    } */
.dt-gui-x-left .dt-gui-x {
    flex: 1;
    border-left: 1px solid rgb(72, 146, 157);
    height: 15px;
    position: relative;
}

.dt-gui-x-right .dt-gui-x {
    flex: 1;
    border-right: 1px solid rgb(72, 146, 157);
    height: 15px;
    position: relative;
}

.dt-gui-x-right .dt-gui-x-1 {
    position: absolute;
    width: 23px;
    height: 12px;
    right: -23px;
    top: -5px;
    background: url('imgs/111.png') top left no-repeat;
}

.dt-gui-x-right .dt-gui-x-2 {
    position: absolute;
    width: 35px;
    height: 12px;
    right: -35px;
    top: -5px;
    /* background: url('imgs/icon555.png') top left no-repeat; */
}

.dt-gui-x-left .dt-gui-x-1 {
    position: absolute;
    width: 23px;
    height: 12px;
    left: -1px;
    top: -5px;
    background: url('imgs/111.png') top left no-repeat;
}

.dt-gui-x-left .dt-gui-x-2 {
    position: absolute;
    width: 35px;
    height: 12px;
    left: -1px;
    top: -5px;
    /* background: url('imgs/icon555.png') top left no-repeat; */
}

.dt-gui-left {
    width: 750px;
    height: 110px;
    border-top: 8px solid rgb(72, 146, 157);
    border-bottom: 8px solid rgb(72, 146, 157);
    margin-left: 30px;
    float: left;
}

.dt-gui-right {
    float: right;
    width: 750px;
    height: 110px;
    border-top: 8px solid rgb(72, 146, 157);
    border-bottom: 8px solid rgb(72, 146, 157);
    margin-right: 30px;
}

.dt-con-t {
    margin-top: 15px;
}

.dt-con-t-b {
    margin-top: 85px;
}

.dt-gui-t-left {
    display: flex;
    width: 656px;
}

.dt-gui-t-left {
    display: flex;
    width: 656px;
}

.dt-gui-text {
    font-size: 16px;
    text-align: center;
    color: #fff;
    flex: 1;
}



.dt-zhu-2 {
    margin-top: 8px;
    width: 85px;
    height: 8px;
    float: left;
    margin-right: 20px;
    background: #f00;
}

.el-table {
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 120px;
    background: #fff;
}

.el-table__row {
    width: 100%;
}

.el-table__row td,
.el-table__header th {
    padding: 12px 0;
    min-width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
}

.el-table__row td {
    border-bottom: 1px solid #EBEEF5;
    font-size: 12px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-weight: normal;
    color: #666;
}

.el-table .cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
}

.el-table .cell,
.el-table th div {
    padding: 0 10px;

    text-overflow: ellipsis;
    font-size: 12px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-weight: normal;
    color: #666;
}

table {
    width: 100%
}

.container-fluid {
    margin-top: 230px;
    align-items: center;
    background-color: white;
    display: block;
    position: absolute;
    justify-content: center;
    width: 90%;
    overflow-y: hidden;
    margin-right: 20px;
    margin-left: 10px;
}

#myContainer {
    width: 1465px;
    height: 50px;
    position: relative;
    margin-left: 160px;
    margin-top: -930px;
    /* background-color: yellow; */
}

#myAnimation {
    margin-top: -10px;
    width: 200px;
    height: 200px;
    position: absolute;
    /* background-color: red; */
    /* background-image: url('https://www.flaticon.com/svg/static/icons/svg/3774/3774275.svg'); */
}

#myContainer2 {
    width: 1465px;
    height: 50px;
    position: relative;
    margin-left: 190px;
    margin-top: 40px;
    z-index: 0;
    /* background-color: yellow; */
}

#myAnimation2 {
    margin-top: -0px;
    margin-left: 1390px;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 0;
    /* background-color: red; */
    /* background-image: url('https://www.flaticon.com/svg/static/icons/svg/3774/3774275.svg');  */
}

.myrasim {
    width: 35px;
    height: 20px;
}

h3 {
    color: white;


}

.nodesensor {
    position: absolute;
    padding-left: 1598px;
    margin-top: 330px;
    display: flex;
    flex-wrap: nowrap;
}




#secondtrain {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: relative;
    z-index: auto;
    /* right: -66px; */
    /*  top: -8px; */
}


#bridge {
    position: absolute;
    height: 130px;
    width: 500px;
    left: 115px;
    top: -25px;
    z-index: 10;
}

#tunnel {
    height: 60px;
    width: 400px;
    position: absolute;
    right: 195px;
    top: 2px;
    z-index: 10000000000;
}


table,
th,
td {
    text-align: center;
}

table {
    margin-top: 10px;
    table-layout: fixed;
}


#top_cross {
    position: relative;
    height: 100px;
    top: -80px;

}

#down_cross {
    position: absolute;
    height: 100px;
    top: 105px;
    right: 65px;

}


.table-color {
    background-color: #4472C4;
    color: white;
}